@model SignupModel
@{
	ViewData["PageTitle"] = "Sign up";
}

<div class="signup">
	<div class="signup_title">
		<h2>Sing up</h2>
	</div>
	<div class="singup_form">
		<form asp-action="index" asp-controller="signup" method="post">
			<div class="singup-form_username">
				<label asp-for="@Model.Username">Username</label>
				<input asp-for="@Model.Username" type="text"/>
				<span class="singup-form_field-error" asp-validation-for="@Model.Username"></span>
				<span class="singup-form_field-tip">Username may only contain letters and numbers</span>
			</div>
			<div class="singup-form_email">
				<label asp-for="@Model.Email">Email</label>
				<input asp-for="@Model.Email" type="email" />
				<span class="singup-form_field-error" asp-validation-for="@Model.Email"></span>
				<span class="singup-form_field-tip"></span>
			</div>
			<div class="singup-form_pass">
				<label asp-for="@Model.Password">Password</label>
				<input asp-for="@Model.Password" type="password" />
				<span class="singup-form_field-error" asp-validation-for="@Model.Password"></span>
				<span class="singup-form_field-tip">Password should be at least 8 characters and 
					contains capital lowercase letters numbers and special characters</span>
			</div>
			<div class="singup-form_passconfirm">
				<label asp-for="@Model.PasswordConfirmation">Password confirmation</label>
				<input asp-for="@Model.PasswordConfirmation" type="password" />
				<span class="singup-form_field-error" asp-validation-for="@Model.PasswordConfirmation"></span>
				<span class="singup-form_field-tip"></span>
			</div>
			<div class="singup-form_submit">
				<input type="submit"/>
			</div>
		</form>
	</div>
</div>
