@model TopicEditModel
@{
	ViewData["PageTitle"] = $"{Model.Topic.Name} - Editing";
}

<div class="topic container">
	<div class="topic__header d-flex row mb-5">
		<h4 class="mb-0">Edit topic @Model.Topic.Name</h4>
	</div>
	<form asp-antiforgery="true" method="post">
		<div class="form__panel row align-items-start justify-content-between mb-4">
			<div class="col-auto">
				<button asp-area="settings" asp-controller="topics" asp-action="edit" asp-route-id="@Model.Topic.Name" type="submit" class="btn btn-outline-primary">Submit</button>
				<a asp-area="settings" asp-controller="topics" asp-action="index" class="btn btn-outline-secondary">Cancel</a>
			</div>
			<div class="col-auto">
				<button asp-area="settings" asp-controller="topics" asp-action="delete" asp-route-id="@Model.Topic.Name" type="submit" class="btn btn-danger">Delete</button>
			</div>
		</div>
		<div class="form__body row align-items-start justify-content-start mb-4">
			<div class="form__warp">
				<div class="row mb-3">
					<div class="col-auto">
						<span class="text-muted">Topic has @(Model.RelatedSourceCount) related sources</span>
						<input asp-for="@Model.RelatedSourceCount" type="hidden" class="invisible" />
					</div>
				</div>
				<div class="name form-floating mb-3">
					<input asp-for="@Model.Topic.Name" type="text" class="form-control" placeholder="@nameof(Model.Topic.Name)" />
					<label asp-for="@Model.Topic.Name" class="form-label">Topic name</label>
					<span asp-validation-for="@Model.Topic.Name" class="error-feedback invalid-feedback"></span>
				</div>
				<div class="icon form-floating mb-3">
					<input asp-for="@Model.Topic.IconCssClass" type="text" class="form-control" placeholder="@nameof(Model.Topic.IconCssClass)" />
					<label asp-for="@Model.Topic.IconCssClass" class="form-label">Icon css class</label>
					<span asp-validation-for="@Model.Topic.IconCssClass" class="error-feedback invalid-feedback"></span>
				</div>
				@await Component.InvokeAsync("TopicsIcons")
			</div>
		</div>
	</form>
</div>

@section Scripts
 {
	<script type="text/javascript" on-content-loaded="true">
		console.log("sada");
		$(document).on("click", ".icon-item", function(){
			var clickedIconCssClass = $(this).attr("value");
			$("#Topic_IconCssClass").attr("value", clickedIconCssClass)
		})
	</script>
}