@model TopicSettingsCollectionModel
@{
	ViewData["PageTitle"] = "Topics";
}

<div class="topics container">
	<div class="topics__header d-flex row mb-5">
		<h4 class="mb-0">Topics</h4>
	</div>
	<div class="topics__panel row align-items-start justify-content-start mb-4">
		<div class="col-auto">
			<a asp-area="settings" asp-controller="topics" asp-action="create" class="btn btn-outline-primary">Create</a>
		</div>
	</div>
	<div class="topics__table mb-4">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Name</th>
					<th scope="col">Icon</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var topic in Model.Topics)
				{
					<tr>
						<th scope="row">
							<a asp-area="settings" asp-controller="topics" asp-action="edit" asp-route-id="@topic.Id">@topic.Id</a>
						</th>
						<td>@topic.Name</td>
						<td><i class="fs-4 @topic.IconCssClass"></i> <span class="ms-1 d-none d-sm-inline"></span></td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	@if (Model.PageInfo.TotalPages > 1)
	{
		<div class="topic__pagination row align-items-center justify-content-center mb-4">
			<div class="col-auto">
				<pagination page-action="index" page-info="@Model.PageInfo"></pagination>
			</div>
		</div>
	}
</div>