@model NewsByTheMood.MVC.Models.ArticleModel
@{
    ViewData["PageTitle"] = Model.Title;
}

<div class="article container">
    <div class="row justify-content-center align-content-start mb-4">
        <div class="container col-8">
            <div class="article__title row mb-3">
                <h3>@Model.Title</h3>
            </div>
            @if (Model.PreviewImgUrl != null)
            {
                <div class="article__preview-img row rounded mb-3">
                    <img src="@Model.PreviewImgUrl" alt="@Model.Title">
                </div>
            }
            <div class="article__body row mb-3">
                @Html.Raw(@Model.Body)
            </div>
            <div class="article__source row align-items-center justify-content-end mb-3">
                <div class="col-auto">
                    <a href="@Model.Url" target="_blank" class="text-decoration-none">@Model.SourceName</a>
                </div>
            </div>
            <div class="article__tags row align-items-center justify-content-start mb-3">
                @foreach (var tag in Model.ArticleTags)
                {
                    <div class="col-auto px-1 mb-2">
                        <div class="border rounded-3">
                            <span class="mx-1">@tag</span>
                        </div>   
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Footer
{
    <partial name="_FooterPartial" />
}



