@model ArticleSettingsCreateModel

@{
	if(Model.Article != null &&  Model.Article.Tags != null)
	{
		Model.Tags.ForEach(t => t.Selected = Model.Article.Tags.Any(tag => tag.Value.Equals(t.Value)));
	}
}

<div class="article-settings">
	<div class="is-active form-check mb-3">
		<input asp-for="@Model.Article.IsActive" type="checkbox" class="form-check-input"/>
		<label asp-for="@Model.Article.IsActive" class="form-check-label">Activity</label>
	</div>
	<div class="name form-floating mb-3">
		<input asp-for="@Model.Article.Title" type="text" class="form-control" placeholder="Title" />
		<label asp-for="@Model.Article.Title" class="form-label">Title</label>
		<span asp-validation-for="@Model.Article.Title" class="error-feedback invalid-feedback"></span>
	</div>
	<div class="url form-floating mb-3">
		<input asp-for="@Model.Article.Url" type="url" class="form-control" placeholder="Url" />
		<label asp-for="@Model.Article.Url" class="form-label">Url</label>
		<div class="field-tip form-text text-muted">Only http/https link formats are supported</div>
		<span asp-validation-for="@Model.Article.Url" class="error-feedback invalid-feedback"></span>
	</div>
	<div class="preview-img-url form-floating mb-3">
		<input asp-for="@Model.Article.PreviewImgUrl" type="url" class="form-control" 
			placeholder="Preview image url" />
		<label asp-for="@Model.Article.PreviewImgUrl" class="form-label">Preview image url</label>
		<div class="field-tip form-text text-muted">Only http/https link formats are supported</div>
		<span asp-validation-for="@Model.Article.PreviewImgUrl" class="error-feedback invalid-feedback"></span>
	</div>
	<div class="body form-floating mb-3">
		<textarea asp-for="@Model.Article.Body" class="form-control" id="articleFormBody" placeholder="Body"
				  rows="5" style="resize: none;overflow: hidden;"></textarea>
		<label asp-for="@Model.Article.Body" class="form-label">Body</label>
		<span asp-validation-for="@Model.Article.Body" class="error-feedback invalid-feedback"></span>
	</div>
	<div class="publish-date form-floating mb-3">
		<input asp-for="@Model.Article.PublishDate" type="datetime" class="form-control" 
			placeholder="Publish date" />
		<label asp-for="@Model.Article.PublishDate" class="form-label">Publish date</label>
		<span asp-validation-for="@Model.Article.PublishDate" class="error-feedback invalid-feedback"></span>
	</div>
	<div class="positivity form-floating mb-3" data-mdb-input-init>
		<input asp-for="@Model.Article.Positivity" type="number" class="form-control" placeholder="Positivity" />
		<label asp-for="@Model.Article.Positivity" class="form-label">Positivity</label>
		<span asp-validation-for="@Model.Article.Positivity" class=" error-feedback invalid-feedback"></span>
	</div>
    <div class="source form-floating mb-3">
		<select asp-for="@Model.Article.SourceId" asp-items="@Model.Sources" id="sources-single-select" class="form-select"></select>
        <label asp-for="@Model.Article.SourceId" class="form-label">Source</label>
        <span asp-validation-for="@Model.Article.SourceId" class="error-feedback invalid-feedback"></span>
	</div>
	<div class="tags mb-3">
		<input type="text" id="articleFormTagsSearch" class="form-control mb-2" placeholder="Search tags..." />
		<select asp-items="@Model.Tags" id="tags-multiple-select" class="form-select" 
			multiple="multiple" aria-label="Tags" size="7">
		</select>
		<span asp-validation-for="@Model.Article.Tags" class="error-feedback invalid-feedback"></span>
	</div>
</div>
<div class="hidden-data"></div>