@model ArticleSettingsCollectionModel
@{
    ViewData["PageTitle"] = "Articles";
}

<div class="articles container">
    <div class="articles__header d-flex row mb-5">
        <h4 class="mb-0">Articles</h4>
    </div>
    <div class="articles__panel row align-items-start justify-content-start mb-4">
        <div class="col-auto">
            <a asp-area="settings" asp-controller="articles" asp-action="create" class="btn btn-outline-primary">Create</a>
        </div>
    </div>
    <div class="articles__table mb-4">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Source</th>
                    <th scope="col">Topic</th>
                    <th scope="col">Is active</th>
                    <th scope="col">Full loaded</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var articlePreview in Model.Articles)
                {
                    <tr>
                        <th scope="row">
                            <a asp-area="settings" asp-controller="articles" asp-action="edit" asp-route-id="@articlePreview.Id">@articlePreview.Id</a>
                        </th>
                        <td>@articlePreview.Title</td>
                        <td>@articlePreview.SourceName</td>
                        <td>@articlePreview.TopicName</td>
                        <td>
                            @if (articlePreview.IsActive)
                            {
                                <div style="color: green"><i class="bi bi-check"></i></div>
                            }
                        </td>
                        <td>
                            @if (!articlePreview.FailedLoaded)
                            {
                                <div style="color: green"><i class="bi bi-check"></i></div>
                            }
                            else
                            {
                                <div style="color: orangered"><i class="bi bi-x"></i></div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (Model.PageInfo.TotalPages > 1)
    {
        <div class="topic__pagination row align-items-center justify-content-center mb-4">
            <div class="col-auto">
                <pagination page-action="index" page-info="@Model.PageInfo"></pagination>
            </div>
        </div>
    }
</div>
