@model SourceCreateModel
@{
	ViewData["PageTitle"] = "Create a source";
}

<div class="source container">
	<div class="topic__header d-flex row mb-5">
		<h4 class="mb-0">Create a source</h4>
	</div>
	<form asp-antiforgery="true" method="post">
		<div class="form__panel row align-items-start justify-content-between mb-4">
			<div class="col-auto">
				<button asp-area="settings" asp-controller="sources" asp-action="create" class="btn btn-outline-primary" type="submit">Submit</button>
				<a asp-area="settings" asp-controller="sources" asp-action="index" class="btn btn-outline-secondary">Cancel</a>
			</div>
		</div>
		<div class="form__body row align-items-start justify-content-start mb-4">
			<div class="form__warp">
				@if (Model.Topics.Count > 0)
				{
					<div class="topics">
						@for (int i = 0; i < Model.Topics.Count; i++)
						{
							<input type="hidden" name="Topics[@i].Value" value="@Model.Topics[i].Value" />
							<input type="hidden" name="Topics[@i].Text" value="@Model.Topics[i].Text" />
						}
					</div>
				}
				<div class="topic form-floating mb-3">
					<select asp-for="@Model.Source!.TopicId" asp-items="@Model.Topics" class="form-select"></select>
					<label asp-for="@Model.Source!.TopicId" class="form-label">@nameof(Model.Source.TopicId)</label>
					<span asp-validation-for="@Model.Source!.TopicId" class="error-feedback invalid-feedback"></span>
				</div>
				<partial name="_SourceFormPartial" model="@Model" />
				<div class="id form-floating mb-3" style="display:none;">
					<input asp-for="@Model.Source!.Id" type="number" value="0" class="form-control" />
				</div>
			</div>
		</div>
	</form>
</div>