@model SourceCollectionModel
@{
	ViewData["PageTitle"] = "Sources";
}

<div class="sources container">
    <div class="topic__header d-flex row mb-5">
        <h4 class="mb-0">Sources</h4>
    </div>
    <div class="topics__panel row align-items-start justify-content-start mb-4">
        <div class="col-auto">
            <a asp-area="settings" asp-controller="sources" asp-action="create" class="btn btn-outline-primary">Create</a>
        </div>
    </div>
    <div class="sources__table mb-4">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Url</th>
                    <th scope="col">Topic</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sourcePreview in Model.SourcePreviews)
                {
                    <tr>
                        <th scope="row">
                            <a asp-area="settings" asp-controller="sources" asp-action="edit" asp-route-id="@sourcePreview.Id">@sourcePreview.Id</a>
                        </th>
                        <td>@sourcePreview.Name</td>
                        <td>@sourcePreview.Url</td>
                        <td>@sourcePreview.Topic</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (Model.PageInfo.TotalPages > 1)
    {
        <div class="topic__pagination row align-items-center justify-content-center mb-4">
            <div class="col-auto">
                <pagination page-action="index" page-info="@Model.PageInfo"></pagination>
            </div>
        </div>
    }
</div>
