@model SourceEditModel
@{
	ViewData["PageTitle"] = $"{Model.Source.Name} - Editing";
}

<div class="source container">
	<div class="source__panel row align-items-start justify-content-start">
		<nav class="nav">
            <button type="button" class="btn btn-danger">
				<a asp-controller="topics" asp-action="delete" asp-route-id="@Model.Source.Id">Delete</a>
			</button>
		</nav>
	</div>
	<div class="source__form row align-items-start justify-content-start">
		<form asp-controller="sources" asp-action="edit" asp-antiforgery="true" method="post">
			<partial name="_SourceEditFormPartial" model="@Model" />
		</form>
	</div>
    <hr class="hr" />
	<div class="source__related-articles row align-items-start justify-content-start">
		<label asp-for="@Model.RelatedArticles">Related articles</label>
        <div class="alert alert-danger" role="alert">
			<span class="field-error" asp-validation-for="@Model.RelatedArticles"></span>
		</div>
		<div class="list-group">
			@foreach (var article in Model.RelatedArticles)
			{
				<div class="article-preview list-group-item list-group-item-action">
					<div class="title">
						<a asp-controller="articles" asp-action="edit" asp-route-id="@article.Id" target="_parent">
							@article.Title
						</a>
					</div>
					<div class="publish-date">
						<span>@article.PublishDate</span>
					</div>
				</div>
			}

		</div>
	</div>
</div>