@model SourceCollectionModel
@{
	ViewData["PageTitle"] = "Sources";
}

<div class="sources container">
    <div class="sources__panel row align-items-start justify-content-start">
        <nav class="nav">
            <button type="button" class="btn btn-primary">
                <a class="nav-link" asp-controller="sources" asp-action="add">Add</a>
            </button>
        </nav>
    </div>
    <div class="sources__container row align-items-start justify-content-start">
        @foreach (var sourcePreview in Model.SourcePreviews)
        {
            <div class="source-preview card" style="width: 18rem;">
                <div class="card-body">
                    <div class="name card-title">@sourcePreview.Name</div>
                    <div class="topic card-subtitle text-muted">@sourcePreview.Topic</div>
                    <div class="url card-link">@sourcePreview.Url</div>
                    <a class="btn btn-primary" asp-controller="sources" asp-action="edit" asp-route-id="@sourcePreview.Id" target="_parent">
                       Edit
                    </a>
                </div>
                <div class="articles-ammount card-footer text-muted">
                    <span>related articles </span>
                    <span class="badge bg-primary rounded-pill">@sourcePreview.ArticleAmmount</span>
                </div>
            </div>
        }
    </div>
</div>

<pagination page-action="index" page-info="@Model.PageInfo"></pagination>