@model TopicModel

<div class="name form-floating mb-3">
	<input asp-for="@Model.Name" type="text" class="form-control" placeholder="@nameof(Model.Name)" />
	<label asp-for="@Model.Name" class="form-label">Topic name</label>
	<span asp-validation-for="@Model.Name" class="error-feedback alert alert-danger" role="alert"></span>
</div>
<div class="icon form-floating mb-3">
	<input asp-for="@Model.IconCssClass" type="text" class="form-control" placeholder="@nameof(Model.IconCssClass)" />
	<label asp-for="@Model.IconCssClass" class="form-label">Icon css class</label>
</div>
@await Component.InvokeAsync("TopicsIcon")
<hr class="hr" />
<button class="submit btn btn-primary mt-3" type="submit">Submit</button>
