@model NewsByTheMood.MVC.Models.ArticlePreviewModel[]

<div class="articles-container">
    @foreach (var articlePreview in Model)
    {
        <div class="article-preview">
            <div class="article-preview_title">
                <h5>
                    <a asp-controller="Articles" asp-action="Details" asp-route-id="@articlePreview.Id" target="_parent">
                        @articlePreview.Title
                    </a>
                </h5>
            </div>
            <div class="article-preview_positivity">
                <span>positivity: @articlePreview!.Positivity</span>
            </div>
            <div class="article-preview_rating">
                <span>rating: @articlePreview.Rating</span>
            </div>
            <div class="article-preview_topic">
                <span>topic: @articlePreview.TopicName</span>
            </div>
            <div class="article-preview_pdate">
                <span>@articlePreview.PublishDate</span>
            </div>
            <div class="article-preview_source">
                <span>@articlePreview!.SourceName</span>
            </div>
        </div>
    }
</div>