@model NewsByTheMood.MVC.Models.ArticleModel
@{
    ViewData["Title"] = Model.Title;
}
@await Component.InvokeAsync("TopicsNavBar")
<div class="article">
    <div class="article_title">
        <h5>@Model.Title</h5>
    </div>
    <div class="article_positivity">
        <span>positivity: @Model.Positivity</span>
    </div>
    <div class="article_rating">
        <span>rating: @Model.Rating</span>
    </div>
    <div class="article_topic">
        <span>topic: @Model.TopicName</span>
    </div>
    <div class="article_pdate">
        <span>@Model.PublishDate</span>
    </div>
    <div class="article_tags">
        tags: 
        @foreach (var tag in Model.ArticleTags)
        {
            <span>@tag</span>
        }
    </div>
    <div class="article_body">
        <div>@Model.Body</div>
    </div>
    <div class="article_source">
        <a href="@Model.Uri" target="_blank">@Model.SourceName</a>
    </div>
</div>



